*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:#0601FF;
    color:#FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 0;
    font-size: 32px;
}

.corpo-texto-imagem{
    width: 30%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 90px;
    font-size: 32px;
}

.escola-texto-principal{
    display: flex;
    padding: 20px 25px;
    font-size: 20px;
    text-align: center;
}

.escola-imagem{
    width: 35%;
}
.escola{
    background-image: linear-gradient(#0601FF,#00E0FF);
    color: white;
    display: flex;
    padding: 20px 25px;
    font-size: 20px;
}
.escola-div-conteudo{
    width: 60%;
}